.add-todo-item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-todo-item__input {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 6px;
    border-radius: 6px;
    border: none;
}

.add-todo-item__button {
    color: white;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    padding: 8px;
    margin-bottom: 6px;
    border-radius: 6px;
    background-color: rgba(4, 177, 112, 1);
}