.todo-list {
    list-style: none;
    margin: 0 0 15px;
    padding: 0;
    width: 100%;
}

.todo-item {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border: 1px solid #bebebe;
    background-color: transparent;
    margin-bottom: 2px;
    border-radius: 6px;
}

.todo-item--active {
    background-color: #d6ecfd;
}

.todo-item  span {
    font-weight: bold;
    color: black;
    font-size: 18px;
    margin-bottom: 15px;
}

.todo-item-button {
    margin-right: 3px;
    padding: 4px;
    border-radius: 4px;
    border: 2px solid transparent;
}

.todo-item-button--ok {
    background-color: rgba(4, 177, 112, 1);
    color: white;
}
.todo-item-button--del {
    color: white;
    background-color: rgb(252, 29, 91);
}
.todo-item-button--i {
    padding: 4px 8px;
    color: white;
    background-color: tomato;
}