.item-status-filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-status-filter__button {
    font-size: 16px;
    background-color: transparent;
    padding: 6px;
    margin-right: 8px;
    border-radius: 6px;
    border: none;
}

.item-status-filter__button--active {
    color: white;
    background-color: rgba(4, 177, 112, 1);
}