.app-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-header__title {
    color: rgb(2, 84, 55);
    text-transform: uppercase;
    font-size: 30px;
    margin: 0 0 15px;
    padding: 0;
}

.app-header__text {
    color: rgb(2, 84, 55);
    font-size: 18px;
    margin: 0 0 15px;
    padding: 0;
}
